<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Travel Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0af1a271f9.js" crossorigin="anonymous"></script>
    
    </head>
 <body>
    <header>
      <div>
       <h1 class ="app_headline">Vacations.com</h1> 
      </div>
    </header>
        <form id="app">
          <div class ="travel_city">
           <h2>City</h2>
            <input class="input_text" type="text" id="cityfrom" placeholder="Leaving from">
            <input class="input_text" type="text" id="cityto" placeholder="Going to">
          </div>
          
          <div class ="travel_date">
           <h2 id="travel_heading">Travel Date</h2>
            <input class="input_text" type="text" id="traveldate1" placeholder="departing on" onfocus="(this.type='date')" >
            <input class="input_text" type="text" id="traveldate2" placeholder="returning on" 
            onfocus="(this.type='date')">   
          </div>  
            <div>
              <button id="search" type = "submit"> Search </button>
              <button id="search" type = "reset"> Reset </button>
            </div>         
        </form>
          <section id="vacationdetails" class="vacation_details_hide">
            <div class="vacation_styling">
              <h2> Hurray!!!!! Get Set Ready for your Vacation</h2>
              <p id="days"></p>
              <p id="locationdetails"></p>
            </div>           
              <div class="location_image vacation_styling">              
                <img id="location-image" src="" alt="Image of the City">
              </div>
              <div class="vacation_styling">
                <h2>The weather at the city is </h2>
                <img id="weather-icon" src="" alt="image">
                <p id="weatherdetails"></p>
              </div> 
          </section>
          <div class="print_details">
            <button class="btn_printnpdf" id="printPage" onclick="window.print()">Print Page</button>
          </div>
      
    <footer>
      <div class="footer">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-3x"></i></a>
        <a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin fa-3x"></i></a>
        <a href="mailto:orchibhattacharya@gmail.com"><i class="far fa-envelope fa-3x"></i></a>
      </div>
    </footer>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performing
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js')
              .then(reg =>console.log("Service worker registered"))
              .catch(err =>console.error(`Service Worker Error: ${err}`))
              
          })
      } else {
          console.log("Service Worker is not supported by browser.")

      }
  </script>
</body>
</html>