body{
        font-size: 14px;
        font-family: Roboto,arial,sans-serif;
        color: #202124;
        overflow: auto;
}

#app{
    display: flex;
    flex-direction: column;   
   justify-content: center;
   align-items: center;
    background: whitesmoke;
    color: #d32f2f;
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
}
#vacationdetails{
    display: flex;
    justify-content: center;
    background-color:whitesmoke;
    color: #d32f2f;
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;

}

/*  Basic Styling To Override Default For Basic HTML Elements */

input{
    display:block;
    height: 40px;
    width: 250px;
    background:rgb(219, 213, 213);
    color: #156bc1;
    font-size: 15px;
    font-family: Roboto,arial,sans-serif;
    border: none;
    padding-top: 10px;
}

button{
    width: 225px;
    height: 60px;  
    color: white;
    font-family: Roboto,arial,sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; 
    border-radius: 50vh;
    box-sizing: border-box;  
    display: inline-block;
    word-break: break-word;
}

#search{
    padding-left: 30px;
    margin-left: 50px;
    min-width: 96px;
    background:#367cc2;

}
.print_details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_printnpdf{

    padding: 10px;
    margin: 20px;
    min-width: 75px;
    background:#448cd4;
} 
.app_headline{
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    color: #d32f2f;
    margin-bottom: 0;
    padding:10px;
    background-color: whitesmoke;
}
.travel_city{
    padding-top: 20px;
    display:flex;
  //  flex-direction: column;
   justify-content: center;
     align-items: center;
}
.input_text{
    margin: 10px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #727483;
    border-radius: 0.5rem;
    color: #141D38;
    font-size: 1rem;
}
.travel_date{
    margin-top: 15px;
    display: flex;
 //   align-items: center;
 // justify-content: center;
   flex-direction: column;
}
#weather-icon{
    display: inline;
    width:100%;
}

.vacation_details_hide{
     display: none !important;
}
.location_image{
    display:flex;
    flex-direction: row;
    width: 100;
}
.vacation_styling{
    text-align: center;
    margin: 10px;
}
.footer{
    

    height: auto;
    width: 100vw;
    padding-top: 40px;
    background:#f2f2f2;
    color:#70757a;
    text-align: center;
}

.btn_printnpdf{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: grey; 
    font-family: Roboto,arial,sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: grey; 
    font-family: Roboto,arial,sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: grey; 
    font-family: Roboto,arial,sans-serif;

} 
/* Medium Screens */
@media (min-width: 601px) and (max-width: 900px){

    body{
        font-size: 18px;
    }
    input{
        width:fit-content;
    }
    button{
        width: 120px;
        margin: 10px;

    }
    #vacationdetails{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-family: Roboto,arial,sans-serif;
    }
    #location-image{
        width:50vh;
        margin: auto;
    }
}
/* Small Screens */
@media (max-width: 600px){
    body{
        font-size: 18px;
    }
    input{
        width:fit-content;
    }
    button{
        width: 100px;
        margin: 10px;

    }

    #search{
        padding-left: 10px;
        margin-left: 20px;
        min-width: 50px;

    }
    .app_headline{
        text-align: center;
    }
    .travel_date{
        display: flex;
        flex-direction: column;
    }
    #vacationdetails{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-family: Roboto,arial,sans-serif;
    }
    #location-image{
        width:50vh;
        margin: auto;
    }
}