body{
        font-size: 14px;
        font-family: Roboto,arial,sans-serif;
        color: #202124;
}

#app{
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: whitesmoke;
    color: #d32f2f;
    justify-content: center;
    grid-gap: 1em;
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 20px;
    font-family: Roboto,arial,sans-serif;
}

input{
    display:block;
    height: 40px;
    width: 200px;
    background:rgb(219, 213, 213);
    color: #156bc1;
    font-size: 15px;
    font-family: Roboto,arial,sans-serif;
    border: none;
    padding-top: 10px;
}

button{
    width: 225px;
    height: 60px;  
    color: white;
    font-family: Roboto,arial,sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; 
    border-radius: 50vh;
    box-sizing: border-box;  
    display: inline-block;
    word-break: break-word;
}

textarea{
    background:#f6f4f3;
    color: #156bc1;
    font-size: 15px;
    font-family: Roboto,arial,sans-serif;
}
#search{
    padding-left: 30px;
    margin-left: 50px;
    min-width: 96px;
    background:#156bc1;

}
.print_details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_printnpdf{

    padding: 10px;
    margin: 20px;
    min-width: 75px;
    background:#448cd4;
} 
.app_headline{
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    color: #d32f2f;
    margin-bottom: 0;
    padding:10px;
}
.travel_city{
    padding-top: 20px;
    display:inline-block;
}
.travel_date{
    margin-top: 15px;
    display: inline-block;  
}
.vacation_details{

    font-size: 15px;
    line-height: 32px;
    font-weight: 500;
    color: #d32f2f;
    margin-bottom: 0;
    padding:10px;

}
.footer{
  
    height: auto;
    width: 100vw;
    padding-top: 40px;
    background:#f2f2f2;
    color:#70757a;
    text-align: center;
}

.btn_printnpdf{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: grey; 
    font-family: Roboto,arial,sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: grey; 
    font-family: Roboto,arial,sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: grey; 
    font-family: Roboto,arial,sans-serif;

} 